<div class="footer">
  <div class="links-footer">
    <%= link_to "Contact", contact_path %>
  </div>
  <p class="text-center">Copyright Asdem Conseil 2020</p>
  <div class="socials">
    <a href="https://www.facebook.com/asdemconseil" target="_blank"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>
