<div class="contact">
  <%= image_tag "contact.png", class: "contact-img" %>
  <div class="contact-div">
    <h2>Contact</h2>
    <p class="text-center">Une question ? Contactez-nous, un conseiller vous répondra au plus vite.</p>
    <p class="text-center">Ou appelez nous au <strong>06 01 41 41 73</strong></p>
    <form class="contact-form" action="https://formspree.io/info@asdemconseil.fr" method="POST">
      <input type="email" name="email" placeholder="Email">
      <input type="subject" name="subject" placeholder="Sujet">
      <textarea name="message" placeholder="Message"></textarea>
      <button class="btn-blue" type="submit">Envoyer</button>
    </form>
  </div>
</div>
