<h1 class="title">Nos formules</h1>

<div class="presta">
  <%= image_tag "self.png", width: 300 %>
  <div>
    <h3>Self</h3>
    <ul class="list-presta">
      <li>Vente d'emballages</li>
      <li>Mise sous housse des matelas et sommiers</li>
      <li>Protection du mobilier sous couvertures dans le logement</li>
      <li>Manutention - Chargement</li>
      <li>Transport en véhicule capitonné et livraison</li>
      <li>Manutention</li>
    </ul>
  </div>
</div>

<div class="presta">
  <div>
    <h3>Standard</h3>
    <ul class="list-presta">
      <p>Comprend la formule Self, ainsi que:</p>
      <li>Protection particulière de certains meubles</li>
      <li>Conditionnement des tableaux et glaces</li>
      <li>Mise en penderie des vêtements sur cintre</li>
      <li>Clean pack : Utilisation de matériaux de conditionnement
et d'emballage adaptés à chaque type d'objet en fonction
de leur fragilité.</li>
      <li>Démontage des mobiliers non fixés</li>
      <li>Remontage des mobiliers non fixés</li>
      <li>Déballage de la vaisselle, verrerie, bibelots</li>
    </ul>
  </div>
  <%= image_tag "standard.png", width: 300 %>
</div>


<div class="presta">
  <%= image_tag "standardplus.png", width: 300 %>
  <div>
    <h3>Standard Plus</h3>
    <p class="list-presta">Comprend la formule Standard, ainsi qu'emballage du linge, livres et objets non fragiles</p>
  </div>
</div>



<div class="presta">
  <div>
    <h3>Luxe</h3>
    <p class="list-presta">Déménagement tout inclus, de A à Z.</p>
    <p class="list-presta">Comprend la formule Standard Plus, ainsi que le déballage et rangement du linge, livres et objets non fragiles.</p>
  </div>
  <%= image_tag "luxe.png", width: 300 %>
</div>

<a class="btn-blue m-auto mb-20">Demander un devis</a>


