<h1 class="title">Nos services</h1>

<div class="presta">
  <%= image_tag "truck.png", width: 200 %>
  <div>
    <h3>Location de camion</h3>
    <div class="list-presta">
      <p>La location de camion avec chauffeur, une solution efficace pour le transport de vos meubles.</p>
      <p>La location de camion avec chauffeur s’avère être la solution la plus économique et flexible pour votre déménagement.Il vous suffit d’un peu d’organisation et de motivation pour réaliser vos cartons et notre chauffeur s’occupe de conduire vos biens à destination.</p>
      <p>Nos camions sont sécurisés et contiennent du matériel de protection, pour un déménagement à votre rythme et dans de bonnes conditions. Nous disposons de véhicules de qualité et incluons les frais de routes dans le prix de la location.</p>
    </div>
  </div>
</div>

<div class="presta">
  <div>
    <h3>Options à la carte</h3>
    <ul class="list-presta">
      <li>Ménage: Nettoyage de votre appartement après votre déménagement, remise en état de vos locaux après un transfert, ménage à la carte pour les sociétés ( quotidien, hebdomadaire, mensuel)</li>
      <li>Informatique: Déconnections, transfert et reconnections de vos ordinateurs, vos serveurs et vos baies informatiques.</li>
      <li>Montage de meubles: Une armoire en kit à monter, une tringle à retirer, une cuisine à déposer ou à installer.
      Nous savons comment vous faciliter la vie.</li>
      <li>Débarras: Asdem conseil vous débarrasse de vos anciens meubles ! Nous vidons les caves, les greniers ou les combles. Après votre transfert d'entreprise, les rebus peuvent être mis en décharge. </li>
    </ul>
  </div>
  <%= image_tag "standard.png", width: 350 %>
</div>


<div class="presta">
  <%= image_tag "move.png", width: 200 %>
  <div>
    <h3>Garde meubles</h3>
    <div class="list-presta">
      <p>ASDEM Conseil vous propose garde-meubles et stockage sécurisé pour un déménagement en tout sérénité.</p>
      <p>Lors d’un déménagement, il se peut que vous ayiez besoin de stocker vos biens dans un endroit sûr et pratique. ASDEM Conseil vous propose un stockage sécurisé à Paris et dans toute la France. Que ce soit pour quelques jours, mois ou même années, nous vous proposons une solution adaptée à vos besoins grâce à nos garde meubles.</p>
      <p>Conçus sur mesure pour le stockage de mobilier, nos garde meubles sont anti-humidité et entièrement conçus pour garder vos objets en l’état, peu importe la durée durant laquelle vous souhaitez les entreposez.</p>
    </div>
  </div>
</div>



