.btn-blue, #btn-blue {
  background: $blue;
  color: white;
  display: block;
  padding: 12px 20px;
  border-radius: 40px;
  width: 250px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  &:hover {
    color: white;
    background: #65d6ea;
  }
}

#btn-blue {
  height: 50px;
  &:focus {
    outline: none;
    border: none;
  }
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

.m-auto {
  margin: auto;
}


.mb-20 {
  margin-bottom: 20px;
}
