.navbar {
  justify-content: space-between;
  background: white;
  padding: 10px 30px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 170px;
}

.tel {
  color: $blue !important;
}
